#container {
    margin: 0 auto;
    padding: 10px;
    width: 300px;
    display: block;
}

h1 {
    color: #2e7d32;
    margin: 5%;
    text-align: center;
}

.line {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

ul {
    margin: 1%;
    padding: 0%;
}

#buttons {
    display: flex;
    flex-shrink: 0;
}

button {
    background-color: #66bb6a; 
    border: solid 1px #a7aaa7;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding:0%;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 2px;
}

input {
    margin: 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 12px);
}

#reset_btn {
    margin: auto;
    border: solid 1px #a7aaa7;
    border-radius: 10%;
    width: fit-content;
    padding: 10px;
    color: white;
    text-align: center;
}